.about-section {
  text-align: left;
}

/* Container */
.about-container {
  max-width: 1100px;
  margin: 150px auto !important;
}

/* Title Styling */
.about-title {
  color: #fff;
  font-size: 34px;
  font-weight: 300;
  line-height: 40px;
}

.about-subtitle {
  color: #fff;
  font-size: 58px;
  font-weight: 700;
  line-height: 65px;
  margin-bottom: 10px;
}

/* Description */
.about-description {
  color: #7d8490;
  font-size: 18px;
  width: 70%;
}

/* Grid Layout */
.about-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 40px;
  gap: 20px;
}

/* Grid Items */
.about-item {
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.about-item:hover {
  transform: scale(1.05);
}

/* Counter Numbers */
.about-count {
  font-size: 60px;
  font-weight: 700;
  color: #fff;
  transition: color 0.3s ease-in-out;
  animation: counterFade 1s ease-in-out forwards;
}

/* Counter Labels */
.about-label {
  font-size: 20px;
  font-weight: 700;
  color: #5c5c5c;
  text-transform: uppercase;
}

/* Counter Animation */
@keyframes counterFade {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* RESPONSIVE DESIGN */
@media (max-width: 1024px) {
  .about-title {
    font-size: 30px;
    line-height: 36px;
  }

  .about-subtitle {
    font-size: 50px;
    line-height: 55px;
  }

  .about-description {
    width: 80%;
    font-size: 17px;
  }

  .about-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .about-title {
    font-size: 28px;
    line-height: 34px;
  }

  .about-subtitle {
    font-size: 40px;
    line-height: 45px;
  }

  .about-description {
    width: 90%;
    font-size: 15px;
  }

  .about-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }

  .about-count {
    font-size: 40px;
  }

  .about-label {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .about-container {
    margin: 100px 30px !important;
  }
  .about-title {
    font-size: 25px;
    line-height: 30px;
  }

  .about-subtitle {
    font-size: 35px;
    line-height: 40px;
  }

  .about-description {
    width: 100%;
    font-size: 15px;
  }

  .about-grid {
    grid-template-columns: 1fr;
  }

  .about-count {
    font-size: 35px;
  }

  .about-label {
    font-size: 16px;
  }
}
