/* Base Styles */
.custom-footer {
  color: white;
}

/* Footer Top Section */
.footer-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.footer-logo {
  width: 150px;
  margin-right: 10px;
}

.footer-cta {
  background-color: #ff4141;
  border-radius: 13px;
  padding: 12px 30px;
  font-family: Lato, sans-serif;
  font-size: 19px;
  font-weight: 700;
  text-decoration: none;
  color: white;
  margin-top: 15px;
}

/* Footer Grid Section */
.footer-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  text-align: left;
}

.footer-section {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}

.footer-title {
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-link {
  color: #858688;
  font-size: 18px;
  margin-top: 8px;
  display: block;
  font-weight: bold;
}

/* Footer Bottom Section */
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  width: 100%;
  height: auto;
  margin-top: 50px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 0px;
}

.footer-copyright {
  display: flex;
  align-items: center;
}

.copyright-text {
  font-size: 15px;
  color: rgba(255, 255, 255, 0.8);
}

/* Social Media Icons */
.footer-social {
  display: flex;
  align-items: center;
}

.social-link {
  text-decoration: none;
}

.social-icon {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
}

.social-image {
  opacity: 0.7;
  width: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-grid {
    grid-template-columns: 1fr;
    gap: 30px;
    text-align: center;
  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
  }

  .footer-copyright {
    flex-direction: column;
    margin-bottom: 10px;
  }
}

@media (max-width: 480px) {
  .footer-logo {
    width: 120px;
  }

  .footer-cta {
    font-size: 15px;
    padding: 8px 5px;
    border-radius: 5px;
  }

  .footer-title {
    font-size: 18px;
  }

  .footer-link {
    font-size: 16px;
  }

  .footer-bottom-logo {
    width: 100px;
  }

  .copyright-text {
    font-size: 14px;
  }

  .social-icon {
    width: 35px;
    height: 35px;
    padding: 6px;
  }
}
