.header {
  padding: 18px 20px;
}

/* Container styling */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  margin: 0 auto;
  flex-wrap: wrap;
}

/* Logo styling */
.header-logo {
  display: inline-block;
  width: 150px;
}

.header-logo img {
  width: 100%;
  height: auto;
}

/* Button section */
.header-btn-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Header button */
.header-btn {
  background-color: #ff4141;
  color: #fff;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  padding: 8px 45px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header-container {
    max-width: 100%;
    padding: 0 15px;
  }

  .header-logo {
    width: 130px;
  }

  .header-btn-container {
    margin-top: 0;
  }

  .header-btn {
    font-size: 14px;
    padding: 8px 20px;
  }
}

@media (max-width: 480px) {
  .header-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
  }

  .header-logo {
    width: 110px;
    margin-left: 10px;
  }

  .header-btn-container {
    margin-right: 10px;
  }

  .header-btn {
    font-size: 13px;
    padding: 6px 20px;
  }
}
