.courses-section {
  text-align: center;
  color: #fff;
  padding: 70px 0;
}

.section-title {
  font-size: 3.5em;
  font-weight: lighter;
}

.section-subtitle {
  font-size: 5em;
  font-weight: bold;
}

.section-tagline {
  font-size: 2em;
  font-weight: lighter;
  color: #62666d;
}

.courses-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  justify-content: center;
}

.course-card {
  background: #222832;
  padding: 20px;
  margin-top: 120px;
  margin-bottom: 50px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.course-card:hover {
  transform: scale(1.05);
}

.course-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-top: -80px;
  border-radius: 18px 18px 0 0;
}

.course-title {
  font-size: 1.2em;
  margin: 15px 0;
}

.course-info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.9rem;
}

.info-icon {
  color: #007bff;
}

.star-icon {
  color: #ffcc00;
}

.enroll-button {
  display: block;
  margin-top: 20px;
  padding: 10px 25px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.enroll-button:hover {
  background-color: #0056b3;
}

.view-all-button {
  background-color: #ff4141;
  color: #fff;
  border: none;
  text-decoration: none;
  border-radius: 10px;
  padding: 18px 40px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .courses-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .section-title {
    font-size: 2.5em;
  }
  .section-subtitle {
    font-size: 3.5em;
  }
  .section-tagline {
    font-size: 1.5em;
  }
  .course-card{
    width: 100%;
  }
}

@media (max-width: 768px) {
  .courses-grid {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 100px;
  }

  .course-card {
    width: 100%;
    margin-top: 0px;
  }
  .section-title {
    font-size: 2em;
  }
  .section-subtitle {
    font-size: 2.8em;
  }
  .section-tagline {
    font-size: 1.5em;
  }
  .view-all-button {
    font-size: 18px;
    padding: 15px 30px;
  }
}

@media (max-width: 480px) {
  .courses-section {
    padding: 40px 0;
  }
  .course-card {
    width: 100%;
  }
  .section-title {
    font-size: 1.5em;
  }
  .section-subtitle {
    font-size: 2.2em;
  }
  .section-tagline {
    font-size: 1em;
  }
  .view-all-button {
    font-size: 16px;
    padding: 12px 25px;
  }
}
