.who-we-are-section {
  padding: 100px 0;
  color: #fff;
}

.who-we-are-container {
  max-width: 1100px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.who-we-are-title {
  font-size: 50px;
  line-height: 50px;
  font-weight: 300;
}

.who-we-are-subtitle {
  font-size: 65px;
  font-weight: bolder;
}

.who-we-are-highlight {
  color: #ffffff75;
  font-size: 29px;
  font-weight: lighter;
}

.who-we-are-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin-top: 8%;
}

.who-we-are-image {
  width: 100%;
  border-radius: 10px;
}

.who-we-are-content {
  backdrop-filter: blur(9px);
  text-align: left;
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 27px 29px;
}

.who-we-are-feature {
  display: flex;
  align-items: center;
  gap: 10px;
}

.who-we-are-icon {
  font-size: 25px;
}

.who-we-are-feature-title {
  font-weight: lighter;
  font-size: 30px;
}

.who-we-are-text {
  color: #7d8490;
  font-size: 20px;
  font-weight: lighter;
  margin-top: 15px;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .who-we-are-content {
    margin: 20px 30px;
  }

  .who-we-are-title {
    font-size: 40px;
    margin-bottom: 0;
  }

  .who-we-are-subtitle {
    font-size: 55px;
  }
  .who-we-are-highlight {
    font-size: 24px;
  }

  .who-we-are-text {
    font-size: 28px;
  }

  .who-we-are-image{
    width: 100%;
    transform: translateY(100px);
  }

  .who-we-are-text {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .who-we-are-section {
    margin: 0 30px;
  }

  .who-we-are-container {
    max-width: 90%;
  }

  .who-we-are-title {
    font-size: 35px;
  }

  .who-we-are-subtitle {
    font-size: 45px;
  }

  .who-we-are-highlight {
    font-size: 20px;
  }
  
  .who-we-are-image{
    width: 100%;
    transform: translateY(200px);
  }
  
  .who-we-are-content {
    width: 100%;
  }

  .who-we-are-feature-title {
    font-size: 18px;
  }

  .who-we-are-text {
    font-size: 15px;
  }

}

@media (max-width: 480px) {
  .who-we-are-section {
    padding: 50px 0;
  }

  .who-we-are-title {
    font-size: 25px;
    margin-bottom: -8px;
  }
  
  .who-we-are-subtitle {
    font-size: 30px;
  }

  .who-we-are-highlight {
    font-size: 18px;
  }

  .who-we-are-grid {
    gap: 15px;
    margin-top: 80px;
    grid-template-columns: repeat(1, 1fr);
  }
  
  .who-we-are-image{
    width: 100%;
    transform: translateY(0);
  }
  
  .who-we-are-content {
    border-radius: 15px;
    margin: 30px 0px;
  }

  .who-we-are-feature-title {
    font-size: 20px;
  }
  
  .who-we-are-text {
    font-size: 15px;
  }

}
